*{
    margin: 0;
    padding: 0;
}

.maybe_hero{
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-columns: 45% 22% 22%;
    grid-gap: 3vw;
    z-index: 2;
    padding-top: 15vh;
    height: 70vh;
}
.hero_intro{
    font-size: 6vh;
    margin-left: 2vw;
    padding-top: 2vh;
    color: black;
}
.heoro_intro_paragraph{
    font-size: 3vh;
    margin-left: 2vw;
    margin-top: 2vh;
    color: black;
}
.become_partner{
    padding: 1.5vh;
    font-size: 3vh;
    border: 0;
    background-color: #1342db;
    border-radius: 0.2em;
    margin-left: 2vw;
    margin-top: 3vh;
    margin-bottom: 5vh;
    color: white;
}
.become_partner:hover{
    background: #0a36c5;

}
.purchase{
    padding: 1.5vh;
    font-size: 3vh;
    background-color: #1342db;
    border: 0;
    border-radius: 0.2em;
    margin-left: 3vw;
    margin-top: 3vh;
    margin-bottom: 5vh;
    color: white;
}
.purchase:hover{
    background: #0a36c5;

}
.hero_design{
    width: 30vw;
    position: absolute;
    left: 35vw;
}


/*This is the Navbar Section*/
.navbar{
    height: 12vh;
    display: flex;
    position: fixed;
    z-index: 1;
    background-color: rgb(245, 245, 245);
    border-bottom: 2px black;
    box-shadow: 3px 4px 10px  rgba(0, 0, 0, 0.671);
    width: 100%;
}
.A-Shoppy{
    font-size: 6vh;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 1vw;
    color: #1342db;
    font-family:  'Times New Roman', Times, serif;
}
.A-Shoppy:hover{
    color: #003cff;

}
.partner_span{
    margin-top: 2.7vh;
}
.partner_btn{
    padding: 1.5vh;
    font-size: 3vh;
    background-color: #1342db;
    border: 0;
    border-radius: 0.2em;
    margin-left: 2vw;
    margin-bottom: 5vh;
    top: 2.5vh;
    position: absolute;
    left: 78vw;
    color: white;
}
.partner_btn:hover{
    background: #0a36c5;

}
.store{
    margin-top: 2.8vh;
}
.store_link{
    color: black;
    text-decoration: none;
}
.store_btn{
    padding: 1.5vh;
    font-size: 3vh;
    border: 0;
    border-radius: 0.2em;
    margin-left: 2vw;
    margin-bottom: 5vh;
    background: white;
}
.top_searchbar{
    width: 50vw;
    height: 5vh;
    margin-top: 3vh;
}
.search{
    width: 6vw;
    height: 5.5vh;
    background-color: rgb(0, 128, 96);
    color: black;
    border: 0;
    border-radius: 0.2em;
    margin-left: 1vw;
    margin-top: 3vh;
}
.help{
    display: flex;
    margin-left: 10vw;
}
.help_img{
    width: 3vw;
    height: 5vh;
    padding-top: 3.5vh;
}
.help_text{
    font-size: 4vh;
    padding-top: 4vh;
}
.sign_in{
    width: 7vw;
    height: 6vh;
    margin-top: 2.7vh;
    border: 0;
    border-radius: 0.2em;
    margin-left: 0.5vw;
    background: white;
    position: relative;
    left: 47vw;
}



/*This is the HERO section*/
.container{
    width: 100%;
    height: 80vh;
    background-image: url('images/connect2.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
}
.franchise{
    text-align: center;
    color: white;
    position: relative;
    top: 30vh;
    width: 60vw;
    margin-left: 18vw;
    background-color: rgba(0, 0, 0, 0.37);
    padding-bottom: 10vh;
    padding-top: 3vh;
    border-radius: 0.2em;
}
.buy_now_button{
    text-align: center;
    position: relative;
    top: 22vh;
}
.buy_now{
    color: white;
    background: #00249c;
    padding-bottom: 1vh;
    border: 0;
    border-radius: 0.2em;
    width: 17vw;
}
.buy_now_text{
    padding: 2vh;
    padding-bottom: 2vh;
    font-size: 3vh;
}
.right_arrow{
    font-size: 4vh;
    padding: 0;
}


/* Home Delivery*/
.home_delivery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    grid-gap: 3vw;
    margin-left: 10vw;
    margin-top: 5vh;
}
.home_delivery_text{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
}
.home_delivery_header{
    margin-left: 10vw;
    font-size: 7vh;
    margin-top: 7vh;
    margin-bottom: 3vh;
}
.home_delivery_heading{
    font-size: 7vh;
    margin-bottom: 2vh;
}
.home_delivery_img{
    width: 40vw;
}
.home_delivery_info{
    font-size: 4vh;
}

/* standard products*/
.standard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
    width: 80vw;
    margin-left: 7vw;
}
.standard_header{
    margin-left: 7vw;
    font-size: 7vh;
    padding-top: 7vh;
    padding-bottom: 2vh;
}
.standard_grid_img{
    width: 40vw;
    height: 40vh;
}
.standard_images{
    width: 35vw;
}
.standard_grid1{
    padding: 3vw;
    background-color: #1342db;
}
.standard_grid2{
    padding: 3vw;
    background-color: #fabbcb;
}
.standard_grid3{
    padding: 3vw;
    background-color: #92c1e9;
}
.standard_grid4{
    padding: 3vw;
    background-color: #bde9c9;
}


/*Delivery agents*/
.delivery_agents{
    background-image: url('bg.png');
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    background-repeat: no-repeat;
    height: 60vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 10vw;
}
.delivery_grid_1{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
}
.delivery_grid_2{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
}
.delivery_boy{
    height: 30vh;
}
.agent_header{
    font-size: 7vh;
    color: white;
}
.agent_text{
    color: white;
    font-size: 4vh;
}

/* partnership section*/
.patnership{
    display: grid;
    grid-template-columns: 50vw 40vw;
    grid-gap: 3vw;
    width: 90vw;
    margin-left: 5vw;
}
.patnership_image{
    height: 70vh;
    width: 45vw;
}
.partnership_text{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
}
/*Rating section*/
.rating{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    margin-left: 10vw;
    grid-gap: 3vw;
}

/* Footer Section */
.footer{
    background: rgb(216, 213, 213);
    max-width: 100%;
    height: 80vh;
    color: black;

}
.main_footer{
    padding-top: 7vh;
    padding-left: 10vw;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer ul{
    list-style-type: none;
}
.footer_icons{
    width: 4.5vw;
    height: 8vh;
    border-radius: 50%;
    margin-top: 5vh;
    margin-left: 2vw;
}





.hero_model{
    height: 50vh;
}
.hero_sale_report{
    width: 22vw;
    background: white;
    box-shadow: 5px solid black;
    padding: 2vh;
    margin-top: 5vh;
    border-radius: 0.5em;
}
.profile_hero{
    display: flex;
}
.profile1{
    width: 2.5vw;
    height: 5vh;
    border-radius: 90%;
}
.hero_buyer{
    margin-left: 2vw;
}
.profile_order{
    display: flex;
}
.total_spent{
    margin-left: 2vw;
}
.average_cost{
    margin-left: 2vw;
}
.important{
    font-weight: bold;
    font-size: 2vh;
}





















.flip_edge_1{
    width: 22vw;
    height: 20vh;
}
.wrapper{
    width: 22vw;
    max-width: 100%;
}
.pannel{
    list-style-type: none;
    padding: 0;

}
.pannel li{
    position: relative;
    width: 25%;
    margin: 0;
    display: block;
    box-sizing: border-box;
    float: left;
}
.pannel li div{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 0;
    cursor: pointer;
}


.pannel div.back{
    transform: rotateY(90deg);
}
.pannel div.front{
    position:  absolute;
}

.pannel li:hover div.front{
    animation: flip 0.2s ease-out forwards ;
}
.pannel li:hover div.back{
    animation: flip 0.2s 0.2s ease-out forwards reverse;
}

@keyframes flip {
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(90deg);}
}


/* #008060 */